<p>list works!</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Date</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ouvrage of ouvrages">
      <th scope="row">{{ ouvrage.id }}  <button class="btn btn-primary" (click) = "detailOuvrage(ouvrage.id)">
    Detail
  </button><button class="btn btn-primary" (click) = "detailOuvrage(ouvrage.id)">
    Edit
  </button>
  </th>
      <td>{{ ouvrage.titre }}</td>
      <td>{{ ouvrage.date }}</td>
      <td>{{ ouvrage.prix }}</td>
    </tr>
  </tbody>
</table>

<!-- 
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
